 .container{
  text-align: center;
}
nav a{
  border: 1px solid;
 background-color: rgb(175, 172, 172);
 
}
#details{
  border: 1px;
  background-color: red;
  display: flex;
  padding: 0px 20px;
}
#details div{
  margin-inline-start: auto;
  text-align: center;
}